<div class="okvir">
<div>
  <img src="assets/Logo/nesam-logo.png" alt="logo"/>
  <button pButton pRipple icon="pi pi-bars" 
pStyleClass="#slideover-2" enterClass="hidden" enterActiveClass="fadeinright" leaveToClass="hidden" leaveActiveClass="fadeoutright" [hideOnOutsideClick]="true" style="margin-left: 15px;"></button>
</div>
  <router-outlet></router-outlet>
</div>

<div id="slideover-2" class="hidden surface-overlay absolute top-0 right-0 shadow-2 w-18rem h-full">
  <div class="flex flex-column h-full p-4" style="background-color: #eb6304;">
      <div class="flex align-items-center justify-content-between mb-4">
          <span class="text-900 text-xl font-medium">Meni</span>
          <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain text-900" pStyleClass="#slideover-2" leaveToClass="hidden" leaveActiveClass="fadeoutright"></button>
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-2 m-0">
            <li>
                <a pRipple class="flex align-items-center cursor-pointer p-3 text-900 hover:surface-100 border-round transition-colors transition-duration-150" [routerLink]="''" pStyleClass="#slideover-2" leaveToClass="hidden" leaveActiveClass="fadeoutright">
                    <i class="pi pi-home mr-2"></i>
                    <span class="font-medium">Pregled</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150" [routerLink]="'unos/new'" pStyleClass="#slideover-2" leaveToClass="hidden" leaveActiveClass="fadeoutright">
                    <i class="pi pi-plus mr-2"></i>
                    <span class="font-medium">Unos</span>
                </a>
            </li>
        </ul>
      </div>
  </div>
</div>